$time: 1s;
$fast: 0.2s;
$move: 5%;

.to-left {
  animation: $time ease toLeft;
}

.to-right {
  animation: $time ease toRight;
}

.to-up {
  animation: $time ease toUp;
}

.to-bottom {
  animation: $time ease toBottom;
}

.to-up-px {
  animation: $time ease toUpPx;
}

.to-bottom-px {
  animation: $time ease toBottomPx;
}

.show {
  animation: $time ease Show;
}

.hidden {
  animation: $fast ease-in Hidden forwards;
}

@keyframes Show {
  0% {
    position: relative;
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    position: relative;
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes Hidden {
  0% {
    position: relative;
    opacity: 100%;
    transform: scale(1);
  }
  100% {
    position: relative;
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes toLeft {
  0% {
    position: relative;
    left: $move;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0;
    opacity: 100%;
  }
}

@keyframes toRight {
  0% {
    position: relative;
    right: $move;
    opacity: 0;
  }
  100% {
    position: relative;
    right: 0;
    opacity: 100%;
  }
}

@keyframes toUp {
  0% {
    position: relative;
    bottom: -$move;
    opacity: 0;
  }
  100% {
    position: relative;
    bottom: 0;
    opacity: 100%;
  }
}

@keyframes toBottom {
  0% {
    position: relative;
    top: -50px;
    opacity: 0;
  }
  100% {
    position: relative;

    top: 0;
    opacity: 100%;
  }
}

@keyframes toUpPx {
  0% {
    position: relative;
    bottom: -50px;
    opacity: 0;
  }
  100% {
    position: relative;
    bottom: 0;
    opacity: 100%;
  }
}

@keyframes toBottomPx {
  0% {
    position: relative;
    top: -50px;
    opacity: 0;
  }
  100% {
    position: relative;

    top: 0;
    opacity: 100%;
  }
}
